/* ###### */
/* GLOBAL */
/* ------ */
:root {
  --clr-body: whitesmoke;
  font-size: 100%;
}

*,
*::after,
*::before {
  border: 1px dotted hotpink;
  box-sizing: border-box;
}

body {
  background: var(--clr-body);
  font-family: 'Inter', sans-serif;
  margin: 0;
}


/* ########## */
/* TYPOGRAPHY */
/* ---------- */
h1, h2, p { margin-top: 0; }

h1 { font-size: 2.5rem; }
h2 { font-size: .75rem; }

.p-invoice-line { font-size: 1.25rem; }

.span-notes { font-size: .75rem; }
.span-grandtotal { font-size: 2.25rem; }


/* ################# */
/* ANCHORS & BUTTONS */
/* ----------------- */
.btn-select-service { font-size: .875rem; }
.btn-send-invoice { font-size: 1rem; }


/* ###### */
/* LAYOUT */
/* ------ */


/* ##### */
/* UTILS */
/* ----- */
